.buttonClass {
    border-radius: 8px;
    height: 100%;
    margin-top: 30px;
    margin-right: 8px;
    border: none;
    cursor: pointer;
    /* padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    overflow: visible;
    box-sizing: border-box; */
}

.buttonClass.primary {
    background-color: rgb(125, 67, 247);
    color: white;
}

.buttonClass.outline {
    background-color: transparent;
    border: 3px solid rgb(125, 67, 247);
}

