.buttonClass {
    border-radius: 8px;
    height: 100%;
    margin-top: 30px;
    margin-right: 8px;
    border: none;
    cursor: pointer;
}

.buttonClass.primary {
    background-color: var(--color-primary);
    color: var(--color-on-brand);
}

.buttonClass.outline {
    background-color: transparent;
    border: 3px solid var(--color-primary);
}

@media (min-width: 374px) and (max-width: 769px) {
    .buttonClass {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px;
        height: 100%;
        border: none;
        cursor: pointer;
    }

    .buttonClass.primary {
        background-color: var(--color-primary);
        color: var(--color-on-brand);
    }

    .buttonClass.outline {
        background-color: transparent;
        border: 3px solid var(--color-primary);
    }
}