.buttonClass {
    background-color: rgb(125, 67, 247);
    color: white;
    border-radius: 8px;
    height: 100%;
    margin-right: 8px;
    border: none;
    /* padding: 0.6em 1.2em;
    font-size: 1em;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    overflow: visible;
    box-sizing: border-box; */
}