.calenderDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 50%;
    width: 70%;
    background-image: linear-gradient(to bottom, rgba(214, 178, 237, 0.4), rgba(214, 178, 237, 0.9));
    border-radius: 8%;
    box-shadow: 6px 6px 20px rgb(204, 202, 202);
    margin-left: 20px;
}

h2 {
    margin-top: 10px;
    font-size: 30px;
}

.timings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    
}

.timings>div {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50px;
    margin-bottom: 8px;
    /* border: 2px solid purple;
    border-radius: 8px; */
}

.timings>div>div {
    flex: 1
}

.timings>div>div:first-child {
    display: flex;
    /* justify-content: center;
    align-items: center; */
    flex-direction: row;
    font-weight: bold;
}

.timings>div>div:first-child>div:first-child {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 8px;
    flex: 1;
}

.calenderIcon {
    fill: white;
}

.timings>div>div:first-child>div:last-child {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 2;
    font-weight: bold;
    font-size: 20px;
}

.timings>div>div:last-child {
    display: flex;
    flex-direction: column;
}

.timings>div>div:last-child>div {
    flex: 1;
}

.timings>div>div:last-child>div:first-child {
    font-weight: bold;
    color: rgb(137, 0, 196);
}

.timings>div>div:last-child>div:last-child {
    font-weight: bold;
    color: rgb(137, 0, 196);
}