@import './shape.css';

 .home {
    display: flex;
    width: 100%;
    height: 600px;
    background-image: linear-gradient(to bottom, rgba(214, 178, 237, 0), rgba(214, 178, 237, 1));
    position: relative;
 }

 .firstSection {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
    flex-basis: 65%;
    flex-shrink: 0;
 }

 .secondSection {
    height: 100%;
    flex-basis: 35%;
    flex-shrink: 0;
 }

 .textBlock {
   width: 70%;
   text-align: left;
 }

 h1 {
   margin-bottom: 0;
   font-size: 78px;
   font-weight: bold;
 }

 p {
   width: 75%;
   font-weight: 600;
 }

 .buttonBloc {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   height: 40px;
   width: 70%;
   /* padding: 8px 0 8px 4px; */
 }
 


 @media only screen and (max-width: 600px) {
    .home {
       margin-top: 70px;
    }
 }