@import './shape.css';

.home {
   display: flex;
   width: 100%;
   height: 600px;
   background-image: linear-gradient(to bottom, rgba(214, 178, 237, 0), rgba(214, 178, 237, 1));
   position: relative;
   /* overflow-x: hidden;   */
}

.firstSection {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   height: 100%;
   flex-basis: 65%;
   flex-shrink: 0;
   /* background-color: greenyellow; */
}

.secondSection {
   height: 100%;
   flex-basis: 35%;
   flex-shrink: 0;
   position: relative;
   /* background-color: pink; */
}

.textBlock {
   width: 70%;
   text-align: left;
   /* background-color: red; */
}

h1 {
   margin-bottom: 0;
   font-size: 78px;
   font-weight: bold;
}

.textBlock p {
   width: 75%;
   font-weight: 600;
   text-align: left;
}

.buttonBloc {
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center;
   height: 40px;
   width: 70%;
   /* padding: 8px 0 8px 4px; */
}



@media only screen and (max-width: 600px) {
   .home {
      display: flex;
      flex-direction: column;
      margin-top: 70px;
      height: 1080px;
      /* background-color: red; */
   }

   .textBlock {
      width: 100%;
      margin-top: 8px;
      text-align: center;
      /* background-color: green; */
   }

   .textBlock h1 {
      margin-bottom: 0;
      font-size: 40px;
   }

   .textBlock p {
      /* display: flex;
      justify-content: center;
      align-items: center; */
      font-weight: 500;
      text-align: center;
      width: 100%;
   }

   .buttonBloc {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
   }

   
   /* .firstSection {
      display: flex;
      justify-content: end;
      align-items: flex-start;
   } */

}