.nameCard {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 270px;
    height: 110px;
    border-radius: 10px;
    background-color: rgba(125, 71, 245, 0.6);
    top: 70%;
    left: 31%;
    box-shadow: 5px 5px 20px grey;
    padding: 10px;
    z-index: 100; /* Ensure NameCard appears above Shape */
}

.nameCardSecond {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    flex: 1;
}

p {
    color: white;
    text-align: start;
    font-size: 15px;
}

.nameCardSecond p, .nameCardSecond h4 {
    margin: 0;
}

@media only screen and (max-width: 600px) {
    .nameCard {
        top: 25%;
        left: 18%;
        /* right: 0; */
    }
}