.navBar {
    display: flex;
    padding: 10px 0;
    justify-content: space-around;
    width: 100%;
    height: 60px;
}

@media only screen and (max-width: 600px) {
    .navBar {
        flex-direction: column;
        height: 80px;
    }

    .iconDiv {
        justify-content: center;
        align-items: center;
        margin-bottom: 0;
    }

    ul {
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
       
    }

    .languageDropdown {
        justify-content: center;
        align-items: center;
    }
}

.iconDiv {
    display: flex;
    flex-direction: row;
}


.h2Div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 10px;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    color: #8800FF;
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
}

li:hover {
    color: #A991F2;
}

.languageDropdown {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-weight: 500;
    position: relative;
    cursor: pointer;
}

.dropDownContent {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background-color: #D2CAED;
    box-shadow: 0px 8px 16px 0px;
    flex-direction: column;
    min-width: 100%;
    /* overflow: hidden; */
    border-radius: 4px;
    cursor: pointer;
}

.dropDownContent::before {
    content: '';
    position: absolute;
    top: -5px; /* Creates invisible bridge above dropdown */
    left: 0;
    right: 0;
    height: 5px;
}

.dropDownContent ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    margin: 0;
    width: 100%;
}

.dropDownContent li {
    color: #8800FF;
    text-align: center;
    width: 100%;
    justify-content: center;
    cursor: pointer;
    padding: 10px;
    box-sizing: border-box;
}

.dropDownContent li:hover {
    background-color: #A991F2;
}

.languageDropdown:hover .dropDownContent {
    display: block;
}