.scheduleDiv {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 1000px;
    background-image: linear-gradient(to bottom, rgba(214, 178, 237, 0.4), rgba(214, 178, 237, 0));
}

.firstScheduleDiv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 40px;
    flex-direction: row;
    flex: 1;
    height: 100%;
}

.secondScheduleDiv {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* align-items: center; */
    flex: 1;
    margin-top: 50px;
    /* height: 100%; */
    /* margin-bottom: 50px; */
    /* background-color: green; */


}

.secondScheduleDiv>p {
    text-align: left;
    padding: 0;
    font-size: 28px;
    font-weight: bold;
    max-width: 80%;
    /* margin-right: 30px; */
    /* margin-top: 0; */
    /* max-width: 365px; */
    line-height: 1.8;
    margin-bottom: 0;
}

.secondParagraph>p {
    text-align: left;
    max-width: 80%;
    font-size: 18px;
    /* width: 80%; */
    /* margin-top: 10px; */
    color: gray;
    /* font-weight: 500; */
    /* background-color: red; */
}