.specialityDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /* height: 600px; */
    background-image: linear-gradient(to bottom, rgba(214, 178, 237, 0.4), rgba(214, 178, 237, 0));
}

.headerText {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-top: 100px;
}

.firstLine {
    width: 180px;
    height: 5px;
    background-color: blueviolet;
    margin-right: 20px;
}

.lastLine {
    width: 180px;
    height: 5px;
    background-color: blueviolet;
    margin-left: 20px;
}

.headerText h2 {
    text-align: center;
    font-size: 30px;
    margin-bottom: 0;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 50px;
}

.servicesFlex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 50px;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 50px;
    flex-direction: row;
    padding: 20px;
}

.servicesDescription {
    display: flex;
    /* height: 600px; */
    width: 100%;
    margin-top: 50px;
}

.firstDescriptionSection {
    display: flex;
    flex-direction: row;
    justify-content: end;
    flex: 2;
    height: 100%;
}

.firstDescriptionSection p {
    text-align: left;
    padding: 0;
    font-size: 28px;
    font-weight: bold;
    margin-right: 30px;
    margin-top: 0;
    max-width: 365px;
    line-height: 1.8;
    /* background-color: green; */
}

.secondDescriptionSection {
    display: flex;
    flex-direction: column;
    flex: 3;
    height: 100%;
    justify-content: flex-start;
}

.secondDescriptionSection p {
    text-align: left;
    font-weight: bold;
    color: black;
    width: 80%;
    font-size: 18px;
    margin-top: 0;
    margin-left: 10px;
    /* background-color: red; */
}

.secondDescription p {
    text-align: left;
    width: 80%;
    margin-top: 10px;
    color: gray;
    font-weight: 500;
}

.buttonSection {
    width: 50%;
    height: 50px;
    margin-bottom: 50px;
}

@media only screen and (max-width: 600px) {
    .specialityDiv {
        padding-left: 20px;
        padding-right: 20px;
    }

    .headerText {
        padding-left: 20px;
        padding-right: 20px;
    }
}