@font-face {
    font-family: 'ArchivoBlack';
    src: url('../fonts/ArchivoBlack-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

:root {
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
}
